@font-face {
    font-family: Harry Potter;
    src: url(../assets/HARRP___.TTF);
}

@font-face {
    font-family: DJB Just Don\'t Call Me Crazy;
    src: url(../assets/DJB.ttf);
}

@font-face {
    font-family: TH3 MACHINE;
    src: url(../assets/TH3_MACHINE.ttf);
}

@font-face {
    font-family: Billion Stars Personal Use;
    src: url(../assets/BillionStars_PersonalUse.ttf);
}

@font-face {
    font-family: DK Crayon Crumble;
    src: url(../assets/DK_Crayon_Crumble.ttf);
}

@font-face {
    font-family: Friday Night Lights;
    src: url(../assets/FNL_DEMO-KCFonts.ttf);
}


