Name :
<input type = "text" class="objectName">
Font Size :
<input type = "text" class="fontSize">
Color :
<input type = "text" class="color">
Font Family :
<input type = "text" class="fontFamily">
<input type = "button" class="removeObject" value="Delete Object">
<br>
<p>
Add frame after <select class="frameOptions"></select>

<input type = "button" class="addTransition" value = "Add Transition"></input>
</p>
<p>
Update Transitions Using : <input type = "button" class="updateUsingCurrentObj" value = "Current Object Position">
<input type = "button" class="updateUsingCurrentCam" value = "Current Camera Position">
</p>

<div id="aObjectTransition"></div>
<div id="accordion2">

</div>